@model IEnumerable<Bangazon.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to Bangazon</h1>
   
</div>

            
            <dl>
               Most Recent Products
            </dl>
       
   
    <div>
        @foreach (var item in Model)
        {
            <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">
                <dl>
                    @Html.DisplayFor(modelItem => item.Title)
                 </dl>
            </a>
            
            <dl>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </dl>
        
        }
    </div>

