@model Bangazon.Models.ProductTypeViewModels.ProductTypeListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Product Categories</h1>

<div>    
    <div>
        @foreach (var item in Model.GroupedProducts)
        {
            <div>
                @Html.DisplayFor(modelItem => item.TypeName) (@Html.DisplayFor(modelItem => item.ProductCount))
            </div>

            <div>
                <ul>
                    @foreach (var product in item.Products)
                    {
                    <li>                        
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">@($"{product.Title}")</a>
                    </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
